/**
 * Your CSS goes here.
 */
body {

   background-image: url(images/p7.jpg);
   background-size: 100%100%;
   background-repeat: no-repeat;
   margin: 0;
   height: 100vh;
   backdrop-filter: blur(2px);
   /* margin-bottom: 100px;*/

}

#header {

   font-style: italic;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: bold;
   color: #ddd;
   text-align: center;
   font-size: 50px;

}

#img {
   size: 5%;
   border-radius: 50%;
   padding: 5px;
   width: 45px;
   border: 1px solid #ddd;
   margin-top: 40px;


}

#smallheader {
   text-align: center;
   letter-spacing: 12px;
   padding-top: 10px;
   color: rgb(215, 215, 191);
   font-size: 20px;
   font-weight: bold;
}

.main {
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: space-between;
   padding: 10px;
   padding-top: 40px;
}

.madLibsEdit {
   background-color: rgba(0,0,0,0.6);
   width: 50%;
   border-radius: 10px;
   padding: 2rem 1rem;
   line-height: 2.3rem;
   color: rgb(231, 247, 247);
   font-weight: 600;
   font-family:'Times New Roman', Times, serif;
   font-size: 18px;
   margin: 10px;
   border: 2px rgb(0, 0, 0) solid;
   /*margin-bottom: 100px;*/

}

.madLibsPreview {
   background-color: rgba(0,0,0,0.6);
   width: 50%;
   border-radius: 10px;
   padding: 2rem 3rem;
   line-height: 2.3rem;
   color: rgb(231, 247, 247);
   font-weight: 600;
   font-family:'Times New Roman', Times, serif;
   font-size: 20px;
   border: 2px rgb(0, 0, 0) solid;
}

.prev-blank {
   padding-inline: 20px;
}

p {
   font-weight: bold;
   font-style: italic;
   text-align: center;
   margin-top: 20px;
   margin-bottom: 40px;
   color: wheat;
}

input{
   width: 95px;
   height: 25px;
   border-radius: 15px;
   border-color: rgb(17, 65, 65);
   text-align: center;
   font-family: 'Montserrat', sans-serif;
   color: rgb(5, 28, 28) ;
  font-size: 20px;
 
   
 }

 input:focus-within{
   outline: none;
   box-shadow: 0 0 5px rgba(81, 203, 238, 1);
   border: 1px solid rgba(81, 203, 238, 1);
   
 }
 input:hover{
   font-size: 1.4em;
   color: #ba9c9c;
 }

 ::placeholder {
   color: rgb(5, 28, 28) ;
   font-style: italic; 
   font-size: 16px;
 }

@media only screen and (max-width:768px) {
   body {
      height: 100vh;
   }

   .main {
      flex-direction: column;
   }

}

@media only screen and (max-width: 500px) {

   #smallheader {
      font-size: medium;
   }
}