/**
 * Your CSS goes here.
 */
 body{

    background-image: url(images/p7.jpg);
    background-size: 100%100%;
    background-repeat: no-repeat; 
    margin: 0;
    height: 100vh;
    backdrop-filter: blur(2px);
   /* margin-bottom: 100px;*/
  
 }

 #header{
    
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #ddd;
   text-align: center;
   font-size: 50px;
    
 }
 #img{
    size: 5%;
    border-radius: 50%;
    padding: 5px;
    width: 45px;
    border: 1px solid #ddd;
    margin-top: 40px;
    
  
 }
 #smallheader{
    text-align: center;
    letter-spacing: 12px;
    padding-top: 10px;
    color:  rgb(215, 215, 191);
    font-size: 20px;
    font-weight: bold;

   /* background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;*/
    
 }
 .main{
    display: flex;
    align-items: center;
    flex-direction:row;
    justify-content: space-between;
    padding: 20px;
    padding-top: 60px;
 }

 .madLibsEdit{
    width: 50%;
    height: 300px;
    background-color: rgba(0,0,0,0.5);
    margin: 10px;
    padding: 40px;
    border-radius: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: rgb(189, 173, 195);
    line-height: 40px;
    /*margin-bottom: 100px;*/

 }

 .madLibsPreview{
    width: 50%;
    height: 300px;
    padding: 40px;
    background-color: rgba(0,0,0,0.5);
    margin:10px;
    border-radius: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: rgb(189, 173, 195);
    line-height: 40px;


 }
 p{
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    color: wheat;
 }

 @media only screen and (max-width:768px) {
    body{
        height: 100vh;
    }
    .main{
        flex-direction: column;
    }
   
 }

 @media only screen and (max-width: 500px){
 
    #smallheader{
        font-size: medium;
    }
 }    
 


 